{% load crispy_forms_tags %}  {% load static %} 
<!DOCTYPE html>
<html class="login_page">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>User Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" type = "text/css" href="{% static 'css/login.css' %}" >
    
    <script src="javasciptlogin.js"></script>
</head>
<body >
<div class="overlay">
<div class="forms">
	<ul class="tab-group">
		<li class="tab active"><a href="#login">HonorsTutorial Login</a></li>
		
	</ul>
	<form method='post' id="login">
	       {% csrf_token %}
	      <h1>Login to proceed</h1>
	     

		 
	        
	       <div>{{ login_form.username | as_crispy_field }}</div>
			
	        <div>{{ login_form.password | as_crispy_field }}</div>
	     
			<input type="submit" value="Login" class="button" />

	         <p class="text-p"> <a href="#">Forgot password?</a> </p>
			<br>
	       
			
	      </div>
	  </form>

</div>


<script type="text/javascript">
$(document).ready(function(){
	  $('.tab a').on('click', function (e) {
	  e.preventDefault();
	  
	  $(this).parent().addClass('active');
	  $(this).parent().siblings().removeClass('active');
	  
	  var href = $(this).attr('href');
	  $('.forms > form').hide();
	  $(href).fadeIn(500);
	});
});
</script>
</body>
</html>