//Screen sizes
$mobile_size:  1200px;
$tablet_size: 1200px;
$pc_size: 1281px;
$ipad_size:  1024px;
$large_screen_size :1824px;
$orangered: rgb(65, 16, 2);
$cards-color: rgb(78, 34, 5);


//colors
$plain:#fff;
$primary:rgb(11, 107, 185);
$darkback:rgb(47, 36, 65);
$basic: #231b31;




